<div class="container" id="home">
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Plateform d&apos;apprentissage</h1>
    <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a consectetur nibh. Aenean tempor quis ex in rhoncus. Aliquam vitae ante sed massa laoreet porttitor. Curabitur suscipit volutpat pharetra. Praesent id euismod libero, quis egestas nisi. 
    </p>
  </div>
</div>

</div>
