// Styling for the general app layout
html {
    /* stylelint-disable */
  height: -webkit-fill-available;
   /* stylelint-enable */
}

body {
  min-height: 100vh;
      /* stylelint-disable */
      height: -webkit-fill-available;
      /* stylelint-enable */
}

main {
  height: 100vh;
    /* stylelint-disable */
    height: -webkit-fill-available;
    /* stylelint-enable */
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}
